<div id="global-context-menu"
     class="hidden fixed z-[9999] w-48 py-2 bg-white/10 backdrop-blur-xl border border-white/10 rounded-xl shadow-glass overflow-hidden transition-opacity duration-200">

    <ul class="flex flex-col">
        <li>
            <button id="menu-action-info" class="w-full text-left block px-6 py-3 text-white hover:bg-white/20 transition-colors">
                Інформація
            </button>
        </li>
        <li>
            <button id="menu-action-trailer" class="w-full text-left block px-6 py-3 text-white hover:bg-white/20 transition-colors">
                Трейлери
            </button>
        </li>
        <li>
            <button id="menu-action-watch" class="w-full text-left block px-6 py-3 text-white hover:bg-white/20 transition-colors">
                Дивитись
            </button>
        </li>
    </ul>
</div>