@model StreamingService.DTO.ViewModels.AgreementViewModel
@{
    Layout = "~/Views/Shared/Layouts/_LayoutSimple.cshtml";
    ViewData["Title"] = "Угода користувача";
}

<div class="relative min-h-screen w-full overflow-hidden flex items-center justify-center p-4">

    @* ФОНОВИЙ ТЕКСТ *@
    <partial name="~/Views/Shared/Partials/Auth/_AuthBackgroundText.cshtml"
             model="Model.BackgroundText" />

    @* ГОЛОВНА КАРТКА *@
    <div class="relative z-10 w-full max-w-screen-md bg-[#9A9A9A]/10 backdrop-blur-xs border border-white/5 shadow-glass rounded-3xl p-8 md:p-12 flex flex-col gap-10">

        <div class="flex flex-col gap-6 text-center md:text-left">
            <h2 class="font-bold text-4xl md:text-5xl text-white">
                Крок 1 з 3
            </h2>

            <p class="font-montserrat font-normal text-base md:text-xl leading-relaxed text-white">
                Ласкаво просимо до <span class="font-bold">Lumeo</span>! Перед тим, як насолоджуватись переглядом фільмів, серіалів та мультфільмів без меж, будь ласка, ознайомтесь із нашою Угодою користувача.
            </p>
            <p class="font-montserrat font-normal text-base md:text-xl leading-relaxed text-white">
                Цей документ виглядає страшно і серйозно, але насправді він просто пояснює, що можна робити з <span class="font-bold">Lumeo</span>, а що — не дуже.
            </p>
        </div>

        @* УГОДА ТА СКРОЛ *@
        <div class="w-full h-[50vh] md:h-[629px] bg-[#9A9A9A]/10 rounded-2xl p-6 md:p-8 overflow-y-auto custom-scrollbar border border-white/5">
            <div class="font-montserrat text-base md:text-xl text-white space-y-6">

                <partial name="~/Views/Shared/Partials/Legal/_AgreementText.cshtml" />

            </div>
        </div>

        @* КНОПКА *@
        <a asp-controller="Account" asp-action="SubscriptionConfirmation" asp-route-planId="@Model.PlanId"
           class="w-full md:w-auto md:self-center px-12 h-14 bg-[#D0F260] text-[#22223A] font-black text-xl md:text-2xl uppercase rounded-xl shadow-[0px_2px_81px_rgba(208,242,96,0.2)] hover:bg-white hover:scale-105 transition-all duration-300 flex items-center justify-center cursor-pointer decoration-0">
            Ну добре, погоджуюсь
        </a>

    </div>
</div>