@model StreamingService.DTO.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/Layouts/_LayoutSimple.cshtml";
    ViewData["Title"] = "Вхід";
}

<div class="relative min-h-screen w-full overflow-hidden">

    <partial name="~/Views/Shared/Partials/Auth/_AuthBackgroundText.cshtml" model="Model.BackgroundText" />

    <div class="relative min-h-screen w-full flex items-center justify-center p-4">

        <div class="z-10 w-full max-w-screen-md bg-[#9A9A9A]/10 backdrop-blur-xs border border-white/5 shadow-glass rounded-3xl p-8 md:p-12 flex flex-col items-center gap-12">

            <img src="~/images/ui/Lumeo_logo.svg" alt="Lumeo" class="h-8 mb-4" />

            <div class="w-full flex flex-col gap-10">

                <div class="flex flex-col gap-4">
                    <h2 class="font-bold text-3xl leading-10 text-[#D0F260]">
                        Вхід
                    </h2>
                    <p class="font-montserrat font-normal text-xl leading-6 text-white">
                        Отримайте доступ до свого профілю та продовжуйте перегляд.
                    </p>
                    <p class="font-montserrat font-normal text-xl leading-6 text-white mt-2">
                        Ще нема акаунта?
                        <a asp-controller="Account" asp-action="Register" class="font-bold text-white hover:text-[#D0F260] transition-colors">Створити обліковий запис</a>
                    </p>
                </div>

                <form asp-controller="Profile"
                      asp-action="Login"
                      method="post"
                      class="w-full flex flex-col gap-8">

                    <div class="flex flex-col gap-2.5 w-full">
                        <label asp-for="Email" class="font-montserrat font-medium text-base text-white">Електронна пошта</label>
                        <div class="relative w-full">
                            <input asp-for="Email" type="email" class="shadow-glass w-full h-16 bg-[#9A9A9A]/10 rounded-2xl px-6 text-white font-montserrat text-base focus:outline-none focus:ring-2 focus:ring-[#D0F260] transition-all" />
                        </div>
                        <span asp-validation-for="Email" class="text-red-500 text-sm font-montserrat"></span>
                    </div>

                    <div class="flex flex-col gap-2.5 w-full">
                        <label asp-for="Password" class="font-montserrat font-medium text-base text-white">Пароль</label>
                        <div class="relative w-full">
                            <input asp-for="Password" id="passwordInput" type="password" class="shadow-glass w-full h-16 bg-[#9A9A9A]/10 rounded-2xl px-6 text-white font-montserrat text-base focus:outline-none focus:ring-2 focus:ring-[#D0F260] transition-all pr-12" />

                            <button type="button" onclick="togglePassword('passwordInput', 'eyeOpen', 'eyeClosed')" class="absolute right-6 top-1/2 -translate-y-1/2 text-white/70 hover:text-white transition-colors cursor-pointer outline-none">
                                <svg id="eyeOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 hidden">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                </svg>
                                <svg id="eyeClosed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 block">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                                </svg>
                            </button>
                        </div>

                        <div>
                            <p class="font-montserrat text-sm text-[#D3D3D3]/70">
                                <a asp-controller="Account" asp-action="ForgotPassword" class="hover:text-white transition-colors decoration-0">Забули пароль?</a>
                            </p>
                        </div>

                        <span asp-validation-for="Password" class="text-red-500 text-sm font-montserrat"></span>
                    </div>

                    <div class="flex items-center gap-3 relative">
                        <div class="flex items-center h-6">
                            <input asp-for="IsPersistent" type="checkbox" class="w-[50px] h-[27px] rounded-full bg-[#D0F260]/50 appearance-none checked:bg-[#D0F260] cursor-pointer transition-colors relative after:content-[''] after:absolute after:top-[2.5px] after:left-[2.5px] after:bg-white after:rounded-full after:h-[22px] after:w-[22px] after:transition-all checked:after:translate-x-[23px]" />
                        </div>
                        <label asp-for="IsPersistent" class="font-montserrat font-normal text-xl text-white cursor-pointer select-none">
                            Запам'ятати цей пристрій
                        </label>
                    </div>

                    <p class="font-montserrat font-normal text-xl leading-6 text-white opacity-60">
                        Увійшовши, ви погоджуєтесь з <a href="#" class="underline hover:text-[#D0F260]">Умовами користування</a> та <a href="#" class="underline hover:text-[#D0F260]">Політикою конфіденційності</a> Lumeo.
                    </p>

                    <div class="flex justify-center mt-2">
                        <button type="submit" class="w-full max-w-lg h-14 bg-[#D0F260] text-[#22223A] font-black text-2xl uppercase rounded-xl shadow-glass cursor-pointer hover:bg-white hover:scale-105 transition-all duration-300">
                            ЙДУ ЗА ПОПКОРНОМ
                        </button>
                    </div>

                </form>

                <div class="flex flex-col gap-4 w-full mt-8">
                    <span class="font-montserrat font-normal text-xl text-white">Увійти з</span>
                    <div class="flex gap-4">

                        <form asp-controller="Profile" asp-action="GoogleLogin" method="post" class="inline">
                            <button type="submit" class="w-14 h-14 rounded-full bg-[#9A9A9A]/10 shadow-glass flex items-center justify-center hover:bg-[#D0F260] hover:scale-110 transition-all duration-300 border border-white/5 group">
                                <img src="~/images/ui/socialbtn/googleG.png" alt="Google" class="w-6 h-6 object-contain brightness-200 group-hover:brightness-0 transition-all duration-300" />
                            </button>
                        </form>

                        <button type="button" disabled class="w-14 h-14 rounded-full bg-[#9A9A9A]/10 shadow-glass flex items-center justify-center opacity-50 cursor-not-allowed border border-white/5 group">
                            <img src="~/images/ui/socialbtn/facebookF.png" alt="Facebook" class="w-6 h-6 object-contain brightness-200" />
                        </button>

                        <button type="button" disabled class="w-14 h-14 rounded-full bg-[#9A9A9A]/10 shadow-glass flex items-center justify-center opacity-50 cursor-not-allowed border border-white/5 group">
                            <img src="~/images/ui/socialbtn/appleIncA.png" alt="Apple" class="w-6 h-6 object-contain brightness-200" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />

}