<div class="flex flex-col gap-2">
    <h3 class="font-bold">1. Твоя підписка</h3>
    <p class="opacity-80">
        Оформлюючи підписку, ти отримуєш доступ до безлімітного перегляду контенту на будь-яких пристроях.
    </p>
    <p class="opacity-80">
        Lumeo — це персональний досвід, тому обліковий запис створений лише для тебе.
    </p>
    <p class="opacity-80">
        Не передавай логін третім особам (навіть якщо це твій кращий друг, який «тільки одну серію»).
    </p>
</div>

<div class="flex flex-col gap-2">
    <h3 class="font-bold">2. Оплата</h3>
    <p class="opacity-80">
        Оплата здійснюється автоматично відповідно до обраного плану.
    </p>
    <p class="opacity-80">
        Ти можеш скасувати підписку в будь-який момент у налаштуваннях облікового запису — без штрафів і зайвих питань.
    </p>
</div>

<div class="flex flex-col gap-2">
    <h3 class="font-bold">3. Доступ до контенту</h3>
    <p class="opacity-80"> Ми намагаємось забезпечити найкращу якість перегляду, але швидкість залежить від твого інтернету та пристрою.</p>
    <p class="opacity-80">Деякий контент може бути недоступний у певних регіонах — ми працюємо над тим, щоб це змінити.</p>
</div>

<div class="flex flex-col gap-2">
    <h3 class="font-bold">4. Використання сервісу</h3>
    <p class="opacity-80">Дивись, насолоджуйся, але не поширюй контент поза платформою.</p>
    <p class="opacity-80">Lumeo створено для перегляду, а не для піратства — будь чесним глядачем 💜</p>
</div>

<div class="flex flex-col gap-2">
    <h3 class="font-bold">5. Зміни в умовах</h3>
    <p class="opacity-80">Ми можемо оновлювати ці правила час від часу.</p>
    <p class="opacity-80">Якщо щось зміниться — повідомимо тебе заздалегідь.</p>
</div>

<div class="flex flex-col gap-2">
    <h3 class="font-bold">6. Приватність</h3>
    <p class="opacity-80">Ми дбаємо про твої дані.</p>
    <p class="opacity-80">Інформація, яку ти надаєш, використовується лише для персоналізації рекомендацій та забезпечення роботи сервісу.</p>
</div>