<header class="relative z-20 w-full p-6 flex justify-center md:justify-start">
    <a href="/" class="block hover:opacity-80 transition-opacity">
        <img src="~/images/ui/Lumeo_logo.svg" alt="Lumeo" class="h-8 w-auto md:h-10" />
    </a>
</header>
