<!DOCTYPE html>
<html lang="uk">
<head>
    <partial name="_Head" />
</head>
<body class="bg-[#0f1016] text-white font-sans antialiased min-h-screen flex flex-col relative overflow-x-hidden selection:bg-[#DCF260] selection:text-black">

    <div class="fixed inset-0 z-0 flex items-center justify-center pointer-events-none select-none overflow-hidden">
        <span class="text-[12vw] md:text-[15vw] font-black leading-none text-white opacity-[0.03] uppercase whitespace-nowrap transform -translate-y-10">
            Дивись без меж
        </span>
    </div>

    <div class="relative z-10 flex flex-col min-h-screen">

        <partial name="_HeaderSimple" />

        <main class="flex-1 flex flex-col items-center justify-center p-4 w-full max-w-7xl mx-auto">
            @RenderBody()
        </main>

        <partial name="_Footer" />

    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>