@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
	ViewData["Title"] = "Фільми";
}
<h2 class="text-2xl font-bold text-white mb-6">Тест основного додатку</h2>