@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutLanding";
	ViewData["Title"] = "Тест сторінка";
}
<div data-layer="Landing page" class="LandingPage w-[1920px] h-[6265px] relative bg-[#22223a] overflow-hidden">
    <div data-layer="Дивись без меж" class="left-[-50px] top-[5585px] absolute text-center justify-start text-white text-[210px] font-black font-['Geist'] uppercase">Дивись без меж</div>
    <div data-layer="Group 153" data-property-1="Default" class="Group153 w-[1920px] h-[1177px] left-[1920px] top-[6932px] absolute origin-top-left rotate-180">
        <div data-layer="Ellipse" class="Ellipse w-[734.20px] h-[734.17px] left-[1185.80px] top-[176.74px] absolute bg-[#da1c5c]/20 rounded-full blur-[173.79px]"></div>
        <div data-layer="Ellipse" class="Ellipse w-[828.41px] h-[1045.90px] left-0 top-0 absolute bg-[#9747ff]/20 rounded-full blur-[173.79px]"></div>
        <div data-layer="Ellipse" class="Ellipse w-[734.20px] h-[734.17px] left-[699.24px] top-0 absolute bg-[#ff9801]/20 rounded-full blur-[173.79px]"></div>
        <div data-layer="Ellipse" class="Ellipse w-[1130.44px] h-[734.17px] left-[521.52px] top-[442.83px] absolute bg-[#4db6ed]/20 rounded-full blur-[173.79px]"></div>
    </div>
    <div data-layer="Frame" class="Frame w-[1954px] h-[510px] left-[-16px] top-[5755px] absolute bg-[#999999]/5 overflow-hidden">
        <div data-layer="Frame" class="Frame size- left-[1234px] top-[470px] absolute inline-flex justify-start items-center gap-7">
            <div data-layer="Реклама" class="opacity-80 justify-start text-white text-xs font-bold font-['Geist'] uppercase">Реклама</div>
            <div data-layer="Конфіденційність" class="opacity-80 justify-start text-white text-xs font-bold font-['Geist'] uppercase">Конфіденційність</div>
            <div data-layer="Cookie" class="Cookie opacity-80 justify-start text-white text-xs font-bold font-['Geist'] uppercase">Cookie</div>
            <div data-layer="Умови використання" class="opacity-80 justify-start text-white text-xs font-bold font-['Geist'] uppercase">Умови використання</div>
            <div data-layer="Ланцюг постачання" class="opacity-80 justify-start text-white text-xs font-bold font-['Geist'] uppercase">Ланцюг постачання</div>
        </div>
        <div data-layer="© 2025 LUMEO MEDIA, LLC." class="2025LumeoMediaLlc left-[168px] top-[466px] absolute opacity-80 justify-start text-white text-xs font-bold font-['Geist']">© 2025 LUMEO MEDIA, LLC.</div>
        <div data-layer="Line" class="Line w-[1960px] h-0 left-[-6px] top-[439px] absolute opacity-80 outline outline-[0.60px] outline-offset-[-0.30px] outline-white"></div>
        <div data-layer="Frame" class="Frame size-11 left-[345px] top-[232px] absolute bg-white/10 rounded-[137.50px] overflow-hidden">
            <img data-layer="Image" class="Image size-5 left-[11px] top-[12px] absolute" src="https://placehold.co/21x21" />
        </div>
        <div data-layer="Frame" class="Frame size-11 left-[286px] top-[232px] absolute bg-white/10 rounded-[137.50px] overflow-hidden">
            <img data-layer="Image" class="Image size-5 left-[11px] top-[12px] absolute" src="https://placehold.co/21x21" />
        </div>
        <div data-layer="Frame" class="Frame size-11 left-[227px] top-[232px] absolute bg-white/10 rounded-[137.50px] overflow-hidden">
            <img data-layer="Image" class="Image size-5 left-[11px] top-[12px] absolute" src="https://placehold.co/21x21" />
        </div>
        <div data-layer="Frame" class="Frame size-11 left-[168px] top-[232px] absolute bg-white/10 rounded-[137.50px] overflow-hidden">
            <img data-layer="Image" class="Image size-5 left-[11px] top-[12px] absolute" src="https://placehold.co/21x21" />
        </div>
        <div data-layer="Lumeo — твій простір для перегляду улюблених фільмів, серіалів і мультфільмів. Дивись на смартфонах, планшетах, ноутбуках та Smart TV, завантажуй контент для перегляду без інтернету та створюй профілі для дітей. Усі твої історії завжди під рукою, а контент від провідних студій тільки на Lumeo." class="LumeoSmartTvLumeo w-[748px] left-[168px] top-[122px] absolute opacity-80 justify-start text-white text-base font-normal font-['Montserrat']">Lumeo — твій простір для перегляду улюблених фільмів, серіалів і мультфільмів. Дивись на смартфонах, планшетах, ноутбуках та Smart TV, завантажуй контент для перегляду без інтернету та створюй профілі для дітей. Усі твої історії завжди під рукою, а контент від провідних студій тільки на Lumeo.</div>
        <div data-layer="Frame" class="Frame w-40 h-56 left-[1638px] top-[66px] absolute inline-flex flex-col justify-start items-start gap-5">
            <div data-layer="Розділи сайту" class="self-stretch justify-start text-white text-xl font-black font-['Geist']">Розділи сайту</div>
            <div data-layer="Підписки" class="self-stretch justify-start text-white text-base font-normal font-['Geist']">Підписки</div>
            <div data-layer="Категорії та жанри" class="self-stretch justify-start text-white text-base font-normal font-['Geist']">Категорії та жанри</div>
            <div data-layer="Дитячий розділ" class="self-stretch justify-start text-white text-base font-normal font-['Geist']">Дитячий розділ</div>
            <div data-layer="Медіа" class="self-stretch justify-start text-white text-base font-normal font-['Geist']">Медіа</div>
            <div data-layer="Студії Lumeo" class="Lumeo self-stretch justify-start text-white text-base font-normal font-['Geist']">Студії Lumeo</div>
        </div>
        <div data-layer="Frame" class="Frame w-32 h-80 left-[1336px] top-[66px] absolute inline-flex flex-col justify-start items-start gap-5">
            <div data-layer="Навігація" class="self-stretch justify-start text-white text-xl font-black font-['Geist']">Навігація</div>
            <div data-layer="Про Lumeo" class="Lumeo self-stretch justify-start text-white text-base font-normal font-['Geist']">Про Lumeo</div>
            <div data-layer="Студії та бренди" class="self-stretch justify-start text-white text-base font-normal font-['Geist']">Студії та бренди</div>
            <div data-layer="Кар’єра" class="self-stretch justify-start text-white text-base font-normal font-['Geist']">Кар’єра</div>
            <div data-layer="Історія" class="self-stretch justify-start text-white text-base font-normal font-['Geist']">Історія</div>
            <div data-layer="Вплив" class="self-stretch justify-start text-white text-base font-normal font-['Geist']">Вплив</div>
            <div data-layer="Керівництво" class="self-stretch justify-start text-white text-base font-normal font-['Geist']">Керівництво</div>
            <div data-layer="Новини" class="self-stretch justify-start text-white text-base font-normal font-['Geist']">Новини</div>
        </div>
        <div data-layer="Vector" class="Vector w-44 h-9 left-[168px] top-[66px] absolute bg-[#dcf260]"></div>
        <div data-layer="footer" class="Footer left-[40px] top-[57px] absolute justify-start text-white text-base font-normal font-['Inter']">footer</div>
    </div>
    <div data-layer="Frame 47/Variant5" class="Frame47Variant5 w-[1619px] h-20 left-[152px] top-[5466px] absolute bg-[#393961]/50 rounded-[20px] overflow-hidden">
        <div data-layer="Чи додаються нові фільми?" class="left-[31px] top-[26px] absolute justify-start text-white text-2xl font-semibold font-['Geist']">Чи додаються нові фільми?</div>
        <div data-layer="Rectangle 35" class="Rectangle35 w-1 h-5 left-[1578.21px] top-[31px] absolute bg-white"></div>
        <div data-layer="Rectangle 36" class="Rectangle36 w-1 h-5 left-[1570px] top-[42.79px] absolute origin-top-left -rotate-90 bg-white"></div>
    </div>
    <div data-layer="Frame 47/Variant6" class="Frame47Variant6 w-[1619px] h-20 left-[152px] top-[5362px] absolute bg-[#393961]/50 rounded-[20px] overflow-hidden">
        <div data-layer="Чи підходить Lumeo для дітей?" class="Lumeo left-[31px] top-[26px] absolute justify-start text-white text-2xl font-semibold font-['Geist']">Чи підходить Lumeo для дітей?</div>
        <div data-layer="Rectangle 35" class="Rectangle35 w-1 h-5 left-[1582.21px] top-[31px] absolute bg-white"></div>
        <div data-layer="Rectangle 36" class="Rectangle36 w-1 h-5 left-[1574px] top-[42.79px] absolute origin-top-left -rotate-90 bg-white"></div>
    </div>
    <div data-layer="Frame 47/Variant7" class="Frame47Variant7 w-[1619px] h-20 left-[152px] top-[5258px] absolute bg-[#393961]/50 rounded-[20px] overflow-hidden">
        <div data-layer="Як скасувати підписку?" class="left-[31px] top-[26px] absolute justify-start text-white text-2xl font-semibold font-['Geist']">Як скасувати підписку?</div>
        <div data-layer="Rectangle 35" class="Rectangle35 w-1 h-5 left-[1582.21px] top-[31px] absolute bg-white"></div>
        <div data-layer="Rectangle 36" class="Rectangle36 w-1 h-5 left-[1574px] top-[42.79px] absolute origin-top-left -rotate-90 bg-white"></div>
    </div>
    <div data-layer="Frame 47/Variant3" class="Frame47Variant3 w-[1619px] h-20 left-[152px] top-[5154px] absolute bg-[#393961]/50 rounded-[20px] overflow-hidden">
        <div data-layer="Як дивитися без інтернету?" class="left-[31px] top-[26px] absolute justify-start text-white text-2xl font-semibold font-['Geist']">Як дивитися без інтернету?</div>
        <div data-layer="Rectangle 35" class="Rectangle35 w-1 h-5 left-[1582.21px] top-[31px] absolute bg-white"></div>
        <div data-layer="Rectangle 36" class="Rectangle36 w-1 h-5 left-[1574px] top-[42.79px] absolute origin-top-left -rotate-90 bg-white"></div>
    </div>
    <div data-layer="Frame 47/Variant4" class="Frame47Variant4 w-[1619px] h-20 left-[152px] top-[5050px] absolute bg-[#393961]/50 rounded-[20px] overflow-hidden">
        <div data-layer="На яких пристроях можна дивитися?" class="left-[31px] top-[26px] absolute justify-start text-white text-2xl font-semibold font-['Geist']">На яких пристроях можна дивитися?</div>
        <div data-layer="Rectangle 35" class="Rectangle35 w-1 h-5 left-[1582.21px] top-[31px] absolute bg-white"></div>
        <div data-layer="Rectangle 36" class="Rectangle36 w-1 h-5 left-[1574px] top-[42.79px] absolute origin-top-left -rotate-90 bg-white"></div>
    </div>
    <div data-layer="Frame 47/Variant2" class="Frame47Variant2 w-[1619px] h-20 left-[152px] top-[4946px] absolute bg-[#393961]/50 rounded-[20px] overflow-hidden">
        <div data-layer="Скільки коштує підписка на Lumeo?" class="Lumeo left-[31px] top-[26px] absolute justify-start text-white text-2xl font-semibold font-['Geist']">Скільки коштує підписка на Lumeo?</div>
        <div data-layer="Rectangle 35" class="Rectangle35 w-1 h-5 left-[1582.21px] top-[31px] absolute bg-white"></div>
        <div data-layer="Rectangle 36" class="Rectangle36 w-1 h-5 left-[1574px] top-[42.79px] absolute origin-top-left -rotate-90 bg-white"></div>
    </div>
    <div data-layer="Frame 47/Default" class="Frame47Default w-[1619px] h-20 left-[152px] top-[4842px] absolute bg-[#393961]/50 rounded-[20px] overflow-hidden">
        <div data-layer="Що можна дивитися на Lumeo?" class="Lumeo left-[31px] top-[26px] absolute justify-start text-white text-2xl font-semibold font-['Geist']">Що можна дивитися на Lumeo?</div>
        <div data-layer="Rectangle 35" class="Rectangle35 w-1 h-5 left-[1582.21px] top-[31px] absolute bg-white"></div>
        <div data-layer="Rectangle 36" class="Rectangle36 w-1 h-5 left-[1574px] top-[42.79px] absolute origin-top-left -rotate-90 bg-white"></div>
    </div>
    <div data-layer="Rectangle" class="Rectangle w-40 h-2.5 left-[152px] top-[4788px] absolute bg-[#eac71b]"></div>
    <div data-layer="Є питання?" class="left-[151px] top-[4713px] absolute justify-start text-white text-5xl font-bold font-['Geist']">Є питання?</div>
    <div data-layer="Frame" class="Frame w-[528px] h-72 left-[696px] top-[4374px] absolute bg-[#999999]/10 rounded-[30px] overflow-hidden">
        <div data-layer="Безпечна зона з добіркою мультфільмів, сімейних шоу та дитячих серіалів — тільки перевірений контент для найменших." class="w-[479px] h-56 left-[21px] top-[77px] absolute justify-start text-white text-xl font-normal font-['Geist']">Безпечна зона з добіркою мультфільмів, сімейних шоу та дитячих серіалів — тільки перевірений контент для найменших.</div>
        <img data-layer="Image" class="Image size-16 left-[402px] top-[193px] absolute" src="https://placehold.co/68x68" />
        <div data-layer="Окремий простір для дітей" class="left-[21px] top-[29px] absolute text-center justify-start text-white text-3xl font-black font-['Geist']">Окремий простір для дітей</div>
        <div data-layer="Line" class="Line w-[473.50px] h-0 left-[27px] top-0 absolute shadow-[-12px_5px_41.400001525878906px_0px_rgba(255,212,0,1.00)] outline outline-4 outline-offset-[-2px] outline-[#ffd400]/0"></div>
    </div>
    <div data-layer="Group 153" data-property-1="Default" class="Group153 w-[1920px] h-[1177px] left-0 top-[2963px] absolute">
        <div data-layer="Ellipse" class="Ellipse w-[734.20px] h-[734.17px] left-0 top-[266.09px] absolute bg-[#da1c5c]/20 rounded-full blur-[173.79px]"></div>
        <div data-layer="Ellipse" class="Ellipse w-[828.41px] h-[1045.90px] left-[1091.59px] top-[131.10px] absolute bg-[#9747ff]/20 rounded-full blur-[173.79px]"></div>
        <div data-layer="Ellipse" class="Ellipse w-[734.20px] h-[734.17px] left-[486.56px] top-[442.83px] absolute bg-[#ff9801]/20 rounded-full blur-[173.79px]"></div>
        <div data-layer="Ellipse" class="Ellipse w-[1130.44px] h-[734.17px] left-[268.04px] top-0 absolute bg-[#4db6ed]/20 rounded-full blur-[173.79px]"></div>
    </div>
    <div data-layer="Frame" class="Frame w-[528px] h-72 left-[1241px] top-[4063px] absolute bg-[#999999]/10 rounded-[30px] overflow-hidden">
        <div data-layer="Без обмежень у перегляді — уся бібліотека доступна в будь-який момент, у твоєму власному темпі." class="w-[479px] h-56 left-[21px] top-[77px] absolute justify-start text-white text-xl font-normal font-['Geist']">Без обмежень у перегляді — уся бібліотека доступна в будь-який момент, у твоєму власному темпі.</div>
        <img data-layer="Image" class="Image size-16 left-[402px] top-[193px] absolute" src="https://placehold.co/68x68" />
        <div data-layer="Твої історії завжди поруч" class="left-[21px] top-[29px] absolute text-center justify-start text-white text-3xl font-black font-['Geist']">Твої історії завжди поруч</div>
        <div data-layer="Line" class="Line w-[473.50px] h-0 left-[27px] top-0 absolute shadow-[-12px_5px_41.400001525878906px_0px_rgba(0,89,255,1.00)] outline outline-4 outline-offset-[-2px] outline-[#0059ff]/0"></div>
    </div>
    <div data-layer="Frame" class="Frame w-[528px] h-72 left-[695px] top-[4063px] absolute bg-[#999999]/10 rounded-[30px] overflow-hidden">
        <div data-layer="Завантажуй улюблені фільми, серіали чи мультфільми заздалегідь і дивись офлайн — у дорозі, у подорожі чи вдома без Wi-Fi." class="WiFi w-[479px] h-56 left-[21px] top-[106px] absolute justify-start text-white text-xl font-normal font-['Geist']">Завантажуй улюблені фільми, серіали чи мультфільми заздалегідь і дивись офлайн — у дорозі, у подорожі чи вдома без Wi-Fi.</div>
        <img data-layer="Image" class="Image size-16 left-[402px] top-[193px] absolute" src="https://placehold.co/68x68" />
        <div data-layer="Переглядай навіть без інтернету" class="w-96 left-[20px] top-[22px] absolute justify-start text-white text-3xl font-black font-['Geist']">Переглядай навіть без інтернету</div>
        <div data-layer="Line" class="Line w-[473.50px] h-0 left-[27px] top-0 absolute shadow-[-12px_5px_41.400001525878906px_0px_rgba(255,0,0,1.00)] outline outline-4 outline-offset-[-2px] outline-[#ff0000]/0"></div>
    </div>
    <div data-layer="Frame" class="Frame w-[528px] h-72 left-[149px] top-[4063px] absolute bg-[#999999]/10 rounded-[30px] overflow-hidden">
        <img data-layer="Image" class="Image size-16 left-[402px] top-[193px] absolute" src="https://placehold.co/68x68" />
        <div data-layer="Smart TV, ноутбук, планшет чи смартфон — переглядай, де зручно, без обмежень у якості." class="SmartTv w-[479px] h-16 left-[21px] top-[77px] absolute justify-start text-white text-xl font-normal font-['Geist']">Smart TV, ноутбук, планшет чи смартфон — переглядай, де зручно, без обмежень у якості.</div>
        <div data-layer="Дивись на будь-якому екрані" class="left-[21px] top-[29px] absolute text-center justify-start text-white text-3xl font-black font-['Geist']">Дивись на будь-якому екрані</div>
        <div data-layer="Line" class="Line w-[473.50px] h-0 left-[27px] top-0 absolute shadow-[-12px_5px_41.400001525878906px_0px_rgba(208,242,96,1.00)] outline outline-4 outline-offset-[-2px] outline-[#d0f260]/0"></div>
    </div>
    <div data-layer="Rectangle" class="Rectangle w-40 h-2.5 left-[151px] top-[4009px] absolute bg-[#fe0000]"></div>
    <div data-layer="Все для тебе" class="left-[150px] top-[3934px] absolute justify-start text-white text-5xl font-bold font-['Geist']">Все для тебе</div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[1121px] top-[3554px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Mask" class="Mask w-52 h-16 left-[61px] top-[99px] absolute" src="https://placehold.co/202x61" />
        <div data-layer="Rectangle" class="Rectangle w-60 h-16 left-[44px] top-[94px] absolute bg-white"></div>
    </div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[1444px] top-[3554px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Mask" class="Mask w-52 h-16 left-[54px] top-[96px] absolute" src="https://placehold.co/216x67" />
        <div data-layer="Rectangle" class="Rectangle w-52 h-16 left-[54px] top-[96px] absolute bg-white"></div>
    </div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[798px] top-[3554px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Image" class="Image w-48 h-36 left-[69px] top-[52px] absolute" src="https://placehold.co/185x138" />
    </div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[474px] top-[3554px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Image" class="Image size-48 left-[63px] top-[33px] absolute" src="https://placehold.co/198x198" />
    </div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[150px] top-[3554px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Mask" class="Mask w-72 h-28 left-[31px] top-[72px] absolute" src="https://placehold.co/277x115" />
        <div data-layer="Rectangle" class="Rectangle w-64 h-28 left-[37px] top-[75px] absolute bg-white"></div>
    </div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[1121px] top-[3295px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Image" class="Image w-44 h-40 left-[74px] top-[53px] absolute" src="https://placehold.co/177x153" />
    </div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[1444px] top-[3295px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Image" class="Image w-52 h-14 left-[57px] top-[100px] absolute" src="https://placehold.co/212x59" />
    </div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[798px] top-[3295px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Image" class="Image w-28 h-44 left-[103px] top-[44px] absolute" src="https://placehold.co/116x173" />
    </div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[474px] top-[3295px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Image" class="Image w-48 h-44 left-[69px] top-[45px] absolute" src="https://placehold.co/186x170" />
    </div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[150px] top-[3295px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Image" class="Image w-52 h-44 left-[57px] top-[51px] absolute" src="https://placehold.co/209x169" />
    </div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[1121px] top-[3036px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Image" class="Image w-52 h-36 left-[57px] top-[62px] absolute" src="https://placehold.co/210x137" />
    </div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[1444px] top-[3036px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Image" class="Image w-56 h-28 left-[49px] top-[81px] absolute" src="https://placehold.co/227x113" />
    </div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[798px] top-[3036px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Image" class="Image w-56 h-28 left-[53px] top-[73px] absolute" src="https://placehold.co/217x113" />
    </div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[474px] top-[3036px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Image" class="Image size-52 left-[53px] top-[33px] absolute" src="https://placehold.co/209x209" />
    </div>
    <div data-layer="Frame" class="Frame w-80 h-64 left-[150px] top-[3036px] absolute bg-black/10 overflow-hidden">
        <img data-layer="Image" class="Image w-56 h-14 left-[53px] top-[104px] absolute" src="https://placehold.co/219x59" />
    </div>
    <div data-layer="Rectangle" class="Rectangle w-40 h-2.5 left-[151px] top-[2992px] absolute bg-[#0059fe]"></div>
    <div data-layer="Усі хіти від топ-студій в одному місці" class="left-[150px] top-[2917px] absolute text-center justify-start text-white text-5xl font-bold font-['Geist']">Усі хіти від топ-студій в одному місці</div>
    <img data-layer="Image" class="Image w-80 h-[465px] left-[1546px] top-[2331px] absolute rounded-[10px]" src="https://placehold.co/319x465" />
    <div data-layer="5" class="left-[1519px] top-[2668px] absolute text-center justify-center text-white/50 text-9xl font-extrabold font-['Geist']">5</div>
    <img data-layer="Image" class="Image w-80 h-[465px] left-[1197px] top-[2331px] absolute rounded-3xl" src="https://placehold.co/319x465" />
    <div data-layer="4" class="left-[1170px] top-[2668px] absolute text-center justify-center text-white/50 text-9xl font-extrabold font-['Geist']">4</div>
    <img data-layer="Image" class="Image w-80 h-[465px] left-[848px] top-[2331px] absolute rounded-3xl" src="https://placehold.co/319x465" />
    <div data-layer="3" class="left-[821px] top-[2668px] absolute text-center justify-center text-white/50 text-9xl font-extrabold font-['Geist']">3</div>
    <img data-layer="Image" class="Image w-80 h-[465px] left-[499px] top-[2331px] absolute rounded-3xl" src="https://placehold.co/319x465" />
    <div data-layer="2" class="left-[472px] top-[2668px] absolute text-center justify-center text-white/50 text-9xl font-extrabold font-['Geist']">2</div>
    <img data-layer="Image" class="Image w-80 h-[465px] left-[150px] top-[2331px] absolute rounded-3xl" src="https://placehold.co/319x465" />
    <div data-layer="1" class="left-[123px] top-[2668px] absolute text-center justify-center text-white/50 text-9xl font-extrabold font-['Geist']">1</div>
    <div data-layer="Rectangle" class="Rectangle w-80 h-[478px] left-[1546px] top-[2328px] absolute bg-linear-360 from-[#22223a]/0 to-[#22223a] to 66% rounded-3xl"></div>
    <div data-layer="Frame" class="Frame w-16 h-14 left-[1754px] top-[2534px] absolute bg-[#47475c] rounded-2xl overflow-hidden">
        <div data-layer="Line" class="Line w-6 h-0 left-[21px] top-[31px] absolute outline outline-4 outline-offset-[-2px] outline-white"></div>
    </div>
    <img data-layer="Image" class="Image w-[2291px] h-56 left-[-198px] top-[2099px] absolute" src="https://placehold.co/2291x217" />
    <div data-layer="Rectangle" class="Rectangle w-40 h-2.5 left-[149px] top-[2234px] absolute bg-[#d0f260]"></div>
    <div data-layer="Сьогодні всі дивляться це" class="left-[149px] top-[2159px] absolute text-center justify-start text-white text-5xl font-bold font-['Geist']">Сьогодні всі дивляться це</div>
    <div data-layer="**Усі тарифні плани можуть містити рекламу перед або після показу контенту, а також у спеціальних подіях. Якість відео та звуку залежить від швидкості інтернет-з’єднання, технічних можливостей пристрою та налаштувань платформи. Не весь контент доступний у високій роздільній здатності. Деталі про сумісність пристроїв та якість відтворення можна переглянути у довідковому розділі. Всі функції та можливості тарифного плану “Стандарт” автоматично включені у тариф “Преміум”." class="w-[1619px] left-[151px] top-[1995px] absolute opacity-50 justify-start"><span class="text-white text-xl font-normal font-['Montserrat']">**Усі тарифні плани можуть містити рекламу перед або після показу контенту, а також у спеціальних подіях. Якість відео та звуку залежить від швидкості інтернет-з’єднання, технічних можливостей пристрою та налаштувань платформи. Не весь контент доступний у високій роздільній здатності. Деталі про сумісність пристроїв та якість відтворення можна переглянути у </span><span class="text-white text-xl font-normal font-['Montserrat'] underline">довідковому розділі</span><span class="text-white text-xl font-normal font-['Montserrat']">. Всі функції та можливості тарифного плану “</span><span class="text-white text-xl font-normal font-['Montserrat'] underline">Стандарт</span><span class="text-white text-xl font-normal font-['Montserrat']">” автоматично включені у тариф “</span><span class="text-white text-xl font-normal font-['Montserrat'] underline">Преміум</span><span class="text-white text-xl font-normal font-['Montserrat']">”.</span></div>
    <div data-layer="Rectangle" class="Rectangle w-[1145px] h-96 left-[368px] top-[681px] absolute bg-gradient-to-b from-[#d0f260]/60 from 42% to-[#22223a]/60 blur-[100px]"></div>
    <div data-layer="Vector" class="Vector w-[2015px] h-24 left-[-46px] top-[919px] absolute bg-gradient-to-r from-[#22223a] from 8% via-[#d0f260] to-[#22223a] to 93%"></div>
    <div data-layer="Обери тариф" class="left-[484px] top-[1012px] absolute text-center justify-start text-white text-9xl font-black font-['Geist']">Обери тариф</div>
    <div data-layer="Frame" class="Frame w-[528px] h-[852px] left-[1242px] top-[1123px] absolute bg-[#999999]/10 rounded-[30px] overflow-hidden">
        <div data-layer="Frame" class="Frame w-96 px-44 py-3 left-[41px] top-[723px] absolute bg-[#d0f260] rounded-[10px] shadow-[0px_2px_81.0999984741211px_0px_rgba(208,242,96,0.20)] inline-flex justify-center items-center gap-2.5">
            <div data-layer="Дивись без меж" class="text-center justify-start text-[#22223a] text-xl font-black font-['Geist'] uppercase">Дивись без меж</div>
        </div>
        <div data-layer="Постійні оновлення контенту" class="left-[89px] top-[655px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Постійні оновлення контенту</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[652px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Ранній доступ до новинок" class="left-[89px] top-[596px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Ранній доступ до новинок</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[593px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Персональні рекомендації" class="left-[89px] top-[538px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Персональні рекомендації</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[535px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Dolby Atmos звук" class="DolbyAtmos left-[89px] top-[479px] absolute opacity-70 justify-start"><span class="text-white text-xl font-semibold font-['Geist']">Dolby Atmos</span><span class="text-white text-xl font-normal font-['Geist']"> звук</span></div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[476px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Без реклами" class="left-[89px] top-[421px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Без реклами</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[418px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="До 4 профілів користувачів" class="4 left-[89px] top-[363px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">До 4 профілів користувачів</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[360px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Якість 4K UHD + HDR" class="4kUhdHdr left-[89px] top-[304px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Якість 4K UHD + HDR</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[301px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Повний каталог + ексклюзиви" class="left-[89px] top-[246px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Повний каталог + ексклюзиви</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[243px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Line" class="Line w-[530px] h-0 left-[1px] top-[205px] absolute outline outline-1 outline-offset-[-0.50px] outline-white/40"></div>
        <div data-layer="₴449 / міс" class="449 left-[41px] top-[87px] absolute justify-start text-white text-6xl font-extrabold font-['Geist']">₴449 / міс</div>
        <div data-layer="Преміум" class="left-[44px] top-[57px] absolute justify-start text-white text-base font-semibold font-['Geist']">Преміум</div>
    </div>
    <div data-layer="Frame" class="Frame w-[527px] h-[852px] left-[696px] top-[1123px] absolute bg-[#999999]/10 rounded-[30px] overflow-hidden">
        <div data-layer="Frame" class="Frame w-96 px-44 py-3 left-[41px] top-[723px] absolute bg-white rounded-[10px] shadow-[0px_2px_81.0999984741211px_0px_rgba(255,255,255,0.20)] inline-flex justify-center items-center gap-2.5">
            <div data-layer="Увімкнути магію кіно" class="text-center justify-start text-[#22223a] text-xl font-black font-['Geist'] uppercase">Увімкнути магію кіно</div>
        </div>
        <div data-layer="Оновлення контенту двічі на тиждень" class="left-[89px] top-[655px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Оновлення контенту двічі на тиждень</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[652px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Перегляд на кількох пристроях" class="left-[89px] top-[596px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Перегляд на кількох пристроях</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[593px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Розширені рекомендації" class="left-[89px] top-[538px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Розширені рекомендації</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[535px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Можливість завантаження офлайн" class="left-[89px] top-[479px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Можливість завантаження офлайн</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[476px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Без реклами" class="left-[89px] top-[421px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Без реклами</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[418px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="До 2 профілів користувачів" class="2 left-[89px] top-[363px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">До 2 профілів користувачів</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[360px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Якість відтворення Full HD (1080p)" class="FullHd1080p left-[89px] top-[304px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Якість відтворення Full HD (1080p)</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[301px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Повний каталог фільмів і серіалів" class="left-[89px] top-[246px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Повний каталог фільмів і серіалів</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[243px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Line" class="Line w-[530px] h-0 left-[1px] top-[205px] absolute outline outline-1 outline-offset-[-0.50px] outline-white/40"></div>
        <div data-layer="₴249 / міс" class="249 left-[42px] top-[87px] absolute justify-start text-white text-6xl font-extrabold font-['Geist']">₴249 / міс</div>
        <div data-layer="Стандарт" class="left-[44px] top-[57px] absolute justify-start text-white text-base font-semibold font-['Geist']">Стандарт</div>
    </div>
    <div data-layer="Frame" class="Frame w-[528px] h-[852px] left-[149px] top-[1123px] absolute bg-[#999999]/10 rounded-[30px] overflow-hidden">
        <div data-layer="Frame" class="Frame w-96 px-44 py-3 left-[41px] top-[723px] absolute bg-[#d0f260] rounded-[10px] shadow-[0px_2px_81.0999984741211px_0px_rgba(208,242,96,0.20)] inline-flex justify-center items-center gap-2.5">
            <div data-layer="Спробувати безкоштовно" class="text-center justify-start text-[#22223a] text-xl font-black font-['Geist'] uppercase">Спробувати безкоштовно</div>
        </div>
        <div data-layer="Оновлення контенту щотижня" class="left-[89px] top-[655px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Оновлення контенту щотижня</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[652px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Лише онлайн-перегляд" class="left-[89px] top-[596px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Лише онлайн-перегляд</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[593px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Базові рекомендації" class="left-[89px] top-[538px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Базові рекомендації</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[535px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Без завантажень" class="left-[89px] top-[479px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Без завантажень</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[476px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Реклама під час перегляду" class="left-[89px] top-[421px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Реклама під час перегляду</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[418px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="1 профіль користувача" class="left-[89px] top-[363px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">1 профіль користувача</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[360px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Якість відтворення до 720p" class="720p left-[89px] top-[304px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Якість відтворення до 720p</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[301px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Обмежений каталог фільмів і серіалів" class="left-[89px] top-[246px] absolute opacity-70 justify-start text-white text-xl font-normal font-['Geist']">Обмежений каталог фільмів і серіалів</div>
        <div data-layer="Frame" class="Frame size-8 left-[42px] top-[243px] absolute bg-[#47475c] rounded-[34.44px] overflow-hidden">
            <div data-layer="Vector" class="Vector w-3.5 h-2 left-[10.07px] top-[12px] absolute bg-[#d0f260] shadow-[0px_1px_5.800000190734863px_0px_rgba(208,242,96,1.00)] outline outline-2 outline-offset-[-1px] outline-[#d0f260]"></div>
        </div>
        <div data-layer="Line" class="Line w-[530px] h-0 left-[1px] top-[205px] absolute outline outline-1 outline-offset-[-0.50px] outline-white/40"></div>
        <div data-layer="₴0 / міс" class="0 left-[44px] top-[87px] absolute text-center justify-start text-white text-6xl font-extrabold font-['Geist']">₴0 / міс</div>
        <div data-layer="Безкоштовний" class="left-[44px] top-[57px] absolute text-center justify-start text-white text-base font-semibold font-['Geist']">Безкоштовний</div>
    </div>
    <div data-layer="Line" class="Line w-28 h-0 left-[1052px] top-[849px] absolute outline outline-[3px] outline-offset-[-1.50px] outline-white"></div>
    <div data-layer="Ellipse" class="Ellipse size-2.5 left-[1047px] top-[843px] absolute bg-white rounded-full"></div>
    <div data-layer="Line" class="Line w-28 h-0 left-[911px] top-[849px] absolute outline outline-[3px] outline-offset-[-1.50px] outline-white"></div>
    <div data-layer="Ellipse" class="Ellipse size-2.5 left-[906px] top-[843px] absolute bg-white rounded-full"></div>
    <div data-layer="Line" class="Line w-28 h-0 left-[770px] top-[849px] absolute outline outline-[3px] outline-offset-[-1.50px] outline-[#d0f260]"></div>
    <div data-layer="Ellipse" class="Ellipse size-4 left-[761px] top-[840px] absolute bg-[#d0f260] rounded-full"></div>
    <div data-layer="Frame" class="Frame w-[791px] h-20 left-[564px] top-[543px] absolute bg-[#999999]/10 rounded-[20px]"></div>
    <div data-layer="Email adress" class="EmailAdress w-32 left-[590px] top-[568px] absolute text-center justify-start text-white text-xl font-normal font-['Geist']">Email adress</div>
    <div data-layer="Rectangle" class="Rectangle w-48 h-20 left-[1164px] top-[543px] absolute bg-[#d0f260] rounded-[20px] shadow-[0px_0px_10.399999618530273px_0px_rgba(208,242,96,0.60)]"></div>
    <div data-layer="Vector" class="Vector w-2 h-3.5 left-[1301px] top-[575px] absolute outline outline-[2.51px] outline-offset-[-1.26px] outline-[#22223a]"></div>
    <div data-layer="Почати" class="w-24 left-[1191px] top-[568px] absolute text-center justify-start text-[#22223a] text-xl font-black font-['Geist'] uppercase">Почати</div>
    <div data-layer="Готовий(-а) до перегляду? Введи свою електронну пошту, щоб створити або відновити акаунт." class="w-[762px] left-[579px] top-[477px] absolute text-center justify-start text-white text-xl font-light font-['Montserrat']">Готовий(-а) до перегляду? Введи свою електронну пошту, щоб створити або відновити акаунт.</div>
    <div data-layer="Почни від ₴249/міс. Скасувати можна будь-коли." class="249 left-[655px] top-[379px] absolute text-center justify-start text-white text-2xl font-normal font-['Montserrat']">Почни від ₴249/міс. Скасувати можна будь-коли.</div>
    <div data-layer="Безлімітні фільми, серіали та мультфільми — у будь-який час" class="w-[847px] h-32 left-[536px] top-[235px] absolute text-center justify-start text-white text-5xl font-black font-['Geist']">
        Безлімітні фільми, серіали та мультфільми — у будь-який час
    </div>
    <div data-layer="Vector" class="Vector w-44 h-9 left-[149px] top-[54px] absolute bg-[#dcf260]"></div>
    <div data-layer="Frame" class="Frame w-36 h-12 px-10 py-3 left-[1627px] top-[47px] absolute bg-[#d0f260] rounded-xl backdrop-blur-[4.73px] inline-flex justify-center items-center gap-2.5">
        <div data-layer="Увійти" class="text-center justify-start text-[#22223a] text-lg font-bold font-['Geist']">Увійти</div>
    </div>
    <div data-layer="Frame" class="Frame w-24 h-12 px-5 py-3 left-[1513px] top-[47px] absolute bg-white/5 rounded-xl inline-flex justify-center items-center gap-2.5">
        <div data-layer="UKR" class="Ukr text-center justify-start text-white text-lg font-bold font-['Geist']">UKR</div>
        <div data-layer="Vector" class="Vector w-2 h-1.5 bg-white"></div>
    </div>
</div>