@using StreamingService.DTO.ViewModels
@model List<VideoCardViewModel>

@{
    Layout = "~/Views/Shared/Layouts/_LayoutApp.cshtml";
}

<div class="mt-11 relative z-20">
    <h1 class="text-5xl font-bold leading-none text-white">
        У тренді сьогодні
    </h1>
</div>

<div class="mt-10 w-full relative z-0 pb-20">
    @if (Model != null && Model.Any())
    {
        <div class="flex flex-col gap-4">
            @foreach (var video in Model)
            {
                <partial name="Partials/UI/_UpcomingRowCard" model="video" view-data='new ViewDataDictionary(ViewData) { { "IsUpcoming", true } }' />
            }
        </div>
    }
    else
    {
        <div class="flex justify-center items-center py-20">
            <p class="text-white/50 text-xl font-montserrat">Немає трендових відео.</p>
        </div>
    }

</div>

@section scripts{
    <script src="~/js/save-for-later.js" asp-append-version="true"></script>
}