<section class="w-full relative z-0 overflow-visible">

    <div class="w-full flex justify-center items-end -mb-6 md:-mb-18">

        <h1 class="font-black text-white leading-none tracking-tighter uppercase whitespace-nowrap opacity-100 select-none text-center
                   text-[12vw]">
            Дивись без меж
        </h1>
    </div>
</section>
