<!DOCTYPE html>
<html lang="uk">
<head>
    <partial name="~/Views/Shared/Partials/Base/_Head.cshtml" />
</head>
<body class="bg-[#22223A] text-white font-sans antialiased overflow-hidden selection:bg-[#DCF260] selection:text-black">

    <div class="flex h-screen w-full overflow-hidden">

        <aside class="w-20 lg:w-84 flex-shrink-0 flex flex-col z-50 relative transition-all duration-300">
            <partial name="~/Views/Shared/Partials/Navigation/_Sidebar.cshtml" />
        </aside>

        <div class="flex-1 flex flex-col min-w-0 relative">

            <header class="flex-shrink-0 z-40 px-6 relative z-[60] md:px-12 pt-10 pb-4">
                <partial name="~/Views/Shared/Partials/Navigation/_HeaderApp.cshtml" />
            </header>

            <main class="flex-1 overflow-y-auto overflow-x-hidden custom-scrollbar relative">

                <div class="p-6 md:px-12">
                    @RenderBody()
                </div>

                <div class="mt-20">
                    <partial name="~/Views/Shared/Partials/Navigation/_Footer.cshtml" />
                </div>

            </main>
        </div>
    </div>

    <partial name="~/Views/Shared/Partials/UI/_GlobalContextMenu.cshtml" />
    <partial name="~/Views/Shared/Partials/Modal/_VideoInfoModal.cshtml"
             model="new StreamingService.DTO.ViewModels.VideoCardViewModel()" />

    <script src="~/js/ui-components.js" asp-append-version="true"></script>
    <script src="~/js/carousel-modal.js" asp-append-version="true"></script>
    <script src="~/js/favorites.js" asp-append-version="true"></script>
    <script src="~/js/dropdown-menu.js"></script>
    <script src="~/js/user-profile-menu.js" asp-append-version="true"></script>
    <script src="~/js/video-card-menu.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>