@model StreamingService.DTO.ViewModels.PricingTier

@{
    string targetAction = ViewData["TargetAction"] as string ?? "Register";
}

<div class="w-full h-full rounded-4xl bg-[#9A9A9A]/10 backdrop-blur-md relative flex flex-col items-start px-10 pb-16 shadow-glass">

    <div class="w-full text-left text-white text-base font-semibold mt-14">
        @Model.Title
    </div>

    <div class="w-fit text-left mt-2 font-extrabold text-6xl leading-tight text-transparent bg-clip-text bg-[linear-gradient(90deg,#FFFFFF_70%,transparent_98%)]">
        ₴@Model.Price / міс
    </div>

    <div class="w-[calc(100%+5rem)] h-px bg-white/40 my-8 -ml-10"></div>

    <div class="w-full flex flex-col gap-7 mb-10">
        @foreach (var feature in Model.Features)
        {
            <partial name="~/Views/Shared/Partials/Landing/_ServiceItem.cshtml" model="feature" />
        }
    </div>

    <a asp-controller="Account"
       asp-action="@targetAction"
        asp-route-plan="@Model.Title"
        class="mt-auto w-full h-14 bg-[#D0F260] rounded-xl self-center text-[#22223A] text-xl font-black uppercase shadow-[0px_2px_81px_rgba(208,242,96,0.2)] hover:bg-white hover:scale-105 transition-all duration-300 flex items-center justify-center cursor-pointer decoration-0">
            @Model.ButtonText
    </a>
    
    
</div>