@model string

<section class="w-full absolute top-5 left-0 z-0 overflow-hidden pointer-events-none select-none">
    <div class="w-full flex justify-center">
        <h1 class="font-black text-7xl leading-[100px] tracking-normal uppercase text-white opacity-[0.03]">
            @Model
        </h1>
    </div>
</section>